// ----------------------basic styles

.btn {
  display: inline-block;

  border: 1px solid transparent;
  border-radius: 4px;

  font-family: $ff1;
  @include font(16px, 700, 1.88, 0.06em);
  // font-weight: $fw2;
  // font-size: $fs3;
  // letter-spacing: $ls3;
  // line-height: 1.88;

  color: $white-color;
  background-color: $accient-color;
}

.filter__btn {
  padding: 6px 22px;

  color: $black-color;
  background-color: $team-color;
  @include font(null, 500, 1.63, null);
  // font-weight: $fw3;
  // line-height: 1.63;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accient-color;
    transition: color 250ms $cubic, background-color 250ms $cubic;
  }
}
.current__btn {
  color: $white-color;
  background-color: $accient-color;
  transition: color 250ms $cubic, background-color 250ms $cubic;
}
.hero__btn {
  min-width: 200px;
  padding: 8px 31px;
}

.subscribe__btn {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 9px 27px;
}

.order-form__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 8px 31px;
}
.site-nav .menu-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn {
  top: 20px;
  right: 15px;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  margin-left: auto;
  background-color: transparent;
  z-index: 2;
}
.menu-btn .icon-close {
  display: none;
}
.menu-btn.is-open .icon-close {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}
.menu-btn .is-open {
  position: fixed;
}

.icon-menu:hover,
.icon-close:hover {
  fill: $accient-color;
}
