// .examples__filter {
//   @extend %flex;
//   justify-content: center;
//   margin-bottom: 34px;
// }
// .examples__filter:not(:last-child) {
//   margin-left: 8px;
// }
// ----------------------basic styles
.examples__filter {
  @extend %flex;
  justify-content: center;
  margin-bottom: 34px;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}
.examples__filter:not(:last-child) {
  margin-left: 8px;
}
