// .logo,
// .logo__link {
//   display: inline-block;

//   font-family: $ff2;
//   font-style: normal;
//   font-weight: $fw2;
//   font-size: $fs6;
//   line-height: 1.19;
// }

// .logo__link {
//   color: $accient-color;
// }

// .logo__header {
//   margin-top: 24px;
//   margin-bottom: 25px;
//   color: $black-color;
// }
// .logo__footer {
//   padding-top: 60px;
//   margin-bottom: 20px;
//   color: $white-color;
// }

// ----------------------basic styles
.logo,
.logo__link {
  display: inline-block;

  font-family: $ff2;
  font-style: normal;
  font-weight: $fw2;
  font-size: $fs6;
  line-height: 1.19;
}

.logo__link {
  color: $accient-color;
}

.logo__header {
  @extend %flex;
  color: $black-color;
}
.logo__footer {
  padding-top: 60px;
  margin-bottom: 20px;
  color: $white-color;
}
