.logo,
.logo__link {
  display: inline-block;

  font-family: $ff2;
  font-style: normal;
  font-weight: $fw2;
  font-size: $fs6;
  line-height: 1.19;
}

.logo__link {
  color: $accient-color;
}

.logo__header {
  color: $black-color;
}
.logo__footer {
  padding-top: 60px;
  margin-bottom: 20px;
  color: $white-color;
}
