.section {
  @media screen and (max-width: 1199px) {
    padding: 60px 0px 60px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 93px 0px 93px 0px;
  }
}
.section__title {
  margin-bottom: 30px;
  text-align: center;
  color: $secondary-text-color;
  font-weight: $fw2;
  font-size: $fs9;
  line-height: $lh2;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
