$fs1: 12px;
$fs2: 14px;
$fs3: 16px;
$fs4: 18px;
$fs5: 20px;
$fs6: 26px;
$fs7: 36px;
$fs8: 44px;

$fs9: 28px;
$fs10: 24px;

$lh1: 1.14;
$lh2: 1.16;
$lh3: 1.19;
$lh4: 1.25;
$lh5: 1.36;
$lh6: 1.55;
$lh7: 1.63;
$lh8: 1.71;
$lh9: 1.88;
$lh10: 2;
$ls1: 0.01em;
$ls2: 0.02em;
$ls3: 0.03em;
$ls3: 0.06em;
$fw3: 500;
$fw2: 700;
$fw1: 900;
$ff1: 'Roboto', sans-serif;
$ff2: 'Raleway', sans-serif;
$accient-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$primery-text-color: #757575;
$secondary-text-color: #212121;
$background-header-footer: #2f303a;
$team-color: #f5f4fa;
$border-color: #eeeeee;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

$icons: 'antenna', 'clock1', 'diagram', 'astronaut';
